{% extends 'navbar.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'add_food.css' %}">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="active"> Complete Enrolment Setup</h2>
            <form method="POST" >
                {% csrf_token %}
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">      {{ form.start_date.label_tag }}</th>
                        <th scope="col">       <input type="date"          {{ form.start_date }}
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">                {{ form.end_date.label_tag }}</th>
                        <th scope="col">    <input type="date"     {{ form.end_date }}
                        </th>

                    </tr>
                    <tr>
                        <th scope="col">                {{ form.special_note.label_tag }}</th>
                        <th scope="col"  >        {{ form.special_note }}
                        </th>
                    </tr>
                    </thead>
                </table>
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}