{% extends 'navbar.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'add_food.css' %}">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="active"> Complete Profile Setup</h2>
                        <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-borderless">
                    <thead>
                    <tr>
                        <th scope="col">                {{ form.name.label_tag }}</th>
                        <th scope="col">                {{ form.name }}
                        </th>
                    <tr>
                        <th scope="col">                {{ form.phone.label_tag }}</th>
                        <th scope="col">                {{ form.phone }}
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">                {{ form.height.label_tag }}</th>
                        <th scope="col">         <input type="text"       {{ form.height }}
                        </th>
                    </tr><tr>
                        <th scope="col">                {{ form.weight.label_tag }}</th>
                        <th scope="col">    <input type="text"     {{ form.weight }}
                        </th>

                    </tr>
                    <tr>
                        <th scope="col">                {{ form.location.label_tag }}</th>
                        <th scope="col"  >        {{ form.location }}
                        </th>
                    </tr>
                    <tr>
                        <th scope="col">                {{ form.address.label_tag }}</th>
                        <th scope="col">                {{ form.address }}
                        </th>
                    </tr><tr>
                        <th scope="col">                {{ form.photo.label_tag }}</th>
                        <th scope="col">                {{ form.photo }}
                        </th>
                    </tr>
                    </thead>
                </table>
                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}