<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% extends "base.html" %}
{% block body %}
    <!------ Include the above in your HEAD tag ---------->
    <link rel="stylesheet" href=/static/hor.css>
    <br>
    <main role="main">
        <article class="card-60 social">
            <figure style="width: 30rem;height:fit-content;">
                <a class="ribbon-buy popular" href="#" title="Popular">
                    Hot
                </a>
                <img src="{{ store.dp.url }}" alt="No image found">
            </figure>
            <!-- end figure-->
            <div class="flex-content">
                <header>
                    <p class="user">
                        <a class="button follow" href="#" title="Follow">
                            Follow
                        </a>
                        <img class="avatar-32" src="{{ store.dp.url }}" alt="Avatar">
                        <strong>
                            <a title="Full Name">
                                {{ store.name }}
                            </a>
                        </strong>
                        <span>Location: {{ store.location }}</span>

                    </p>
                </header>

                <p>
                    {{ store.description }}      </p>
                <footer>

                    <p>
                        {% if s == 1 %}
                            <a href={% url "updateStore" store.id %} role="button">
                                <button type="button" class="btn btn-outline-info">Edit Store</button>
                                <br><br></a>
                            <a href={% url "createProduct" store.id %} role="button">

                                <button type="button" class="btn btn-outline-success">Add Product</button>
                                <br><br></a>
                            <a href={% url "deleteStore" store.id %} role="button">

                                <button type="button" class="btn btn-outline-secondary">Delete Store</button>
                            </a></p>

                        {% endif %}
                </footer>

            </div>

        </article>

    </main>
    <div class="container">
        <h2>Products in {{ store.name }}</h2>
        <hr/>

        <div class="row">
            {% for i in products %}

                <div class="col-md-3">
                    <div class="card mb-3 shadow">


                        <img class="card-img-top" src="{{ i.photo.url }}" alt="No image found!"/>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <a href={% url "viewProduct" i.id %}>
                                    <li class="list-group-item">{{ i.name }}</li>
                                </a>
                                <li class="list-group-item">$ {{ i.price }}</li>
                                <li class="list-group-item">Available {{ i.quantity }}</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <br/>

            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}