{% extends 'navbar.html' %}
{% block content %}
    {% load static %}
    <div class="jumbotron d-flex align-items-center">
        <div class="container" align="middle">

            <h6>Welcome to Plan Editor </h6>
            <h6>Remember to add at least one food per meal.</h6>
            <h6>Need more food?
                <a href= {% url 'add_food' store_id %} class="text-decoration-none" >
                Add Food</a></h6>
            {#            <a href= {% url 'add_food' store_id %} class="text-decoration-none" >#}
            {#            <div class="row justify-content-center align-self-center">#}
            {#                    Add More Food in your store#}
            {#            </div></a>#}
        </div></div>
    <form method="POST">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {{ form.source.errors }}
        {{ form.source }}

        <div align="middle" class="alert alert-success" role="alert">
            Configure Lunch
        </div>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Food</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{ form.saturday_day_food_1}}</td>
                <td>{{ form.sunday_day_food_1 }}</td>
                <td>{{ form.monday_day_food_1 }}</td>
                <td>{{ form.tuesday_day_food_1 }}</td>
                <td>{{ form.wednesday_day_food_1 }}</td>
                <td>{{ form.thursday_day_food_1 }}</td>
                <td>{{ form.friday_day_food_1 }}</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>{{ form.saturday_day_food_2 }}</td>
                <td>{{ form.sunday_day_food_2 }}</td>
                <td>{{ form.monday_day_food_2 }}</td>
                <td>{{ form.tuesday_day_food_2 }}</td>
                <td>{{ form.wednesday_day_food_2 }}</td>
                <td>{{ form.thursday_day_food_2 }}</td>
                <td>{{ form.friday_day_food_2 }}</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>{{ form.saturday_day_food_3 }}</td>
                <td>{{ form.sunday_day_food_3 }}</td>
                <td>{{ form.monday_day_food_3 }}</td>
                <td>{{ form.tuesday_day_food_3 }}</td>
                <td>{{ form.wednesday_day_food_3 }}</td>
                <td>{{ form.thursday_day_food_3 }}</td>
                <td>{{ form.friday_day_food_3 }}</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>{{ form.saturday_day_food_4 }}</td>
                <td>{{ form.sunday_day_food_4 }}</td>
                <td>{{ form.monday_day_food_4 }}</td>
                <td>{{ form.tuesday_day_food_4 }}</td>
                <td>{{ form.wednesday_day_food_4 }}</td>
                <td>{{ form.thursday_day_food_4 }}</td>
                <td>{{ form.friday_day_food_4 }}</td>
            </tr>
            </tbody>
        </table>
        <div align="middle" class="alert alert-success" role="alert">
            Configure Dinner
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Food</th>
                <th scope="col">Saturday</th>
                <th scope="col">Sunday</th>
                <th scope="col">Monday</th>
                <th scope="col">Tuesday</th>
                <th scope="col">Wednesday</th>
                <th scope="col">Thursday</th>
                <th scope="col">Friday</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{ form.saturday_night_food_1 }}</td>
                <td>{{ form.sunday_night_food_1 }}</td>
                <td>{{ form.monday_night_food_1 }}</td>
                <td>{{ form.tuesday_night_food_1 }}</td>
                <td>{{ form.wednesday_night_food_1 }}</td>
                <td>{{ form.thursday_night_food_1 }}</td>
                <td>{{ form.friday_night_food_1 }}</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>{{ form.saturday_night_food_2 }}</td>
                <td>{{ form.sunday_night_food_2 }}</td>
                <td>{{ form.monday_night_food_2 }}</td>
                <td>{{ form.tuesday_night_food_2 }}</td>
                <td>{{ form.wednesday_night_food_2 }}</td>
                <td>{{ form.thursday_night_food_2 }}</td>
                <td>{{ form.friday_night_food_2 }}</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>{{ form.saturday_night_food_3 }}</td>
                <td>{{ form.sunday_night_food_3 }}</td>
                <td>{{ form.monday_night_food_3 }}</td>
                <td>{{ form.tuesday_night_food_3 }}</td>
                <td>{{ form.wednesday_night_food_3 }}</td>
                <td>{{ form.thursday_night_food_3 }}</td>
                <td>{{ form.friday_night_food_3 }}</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>{{ form.saturday_night_food_4 }}</td>
                <td>{{ form.sunday_night_food_4 }}</td>
                <td>{{ form.monday_night_food_4 }}</td>
                <td>{{ form.tuesday_night_food_4 }}</td>
                <td>{{ form.wednesday_night_food_4 }}</td>
                <td>{{ form.thursday_night_food_4 }}</td>
                <td>{{ form.friday_night_food_4 }}</td>
            </tr>
            </tbody>
        </table>

        <div class="form-group" align="right">
            <a href="{% url "home" %}"
               onclick="return confirm('Are you sure you want to cancel');">
                <button type="button" class="btn btn-secondary btn-lg">{{ cancel }}</button>
            </a>

            <a>
                <button type="submit" class="btn btn-info btn-lg">{{ confirm }}</button>
            </a>

        </div></form>
{% endblock %}