{% extends 'navbar.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'add_food.css' %}">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="active"> Proof of delivery </h2>
            <br>
            <br>
            <br>
            <form method="POST" >
                {% csrf_token %}
  <tr>
                        <th scope="col">                Enter code: </th>
                        <th scope="col">                {{ form.code }}
                            <br>
                            <br>
                            <br>
                        </th>                <input class="btn btn-primary" type="submit" value="Submit">
            </form>
        </div>
    </div>
{% endblock %}