{% extends 'navbar.html' %}
{% block content %}
    {% load static %}

    <div align="middle" class="alert alert-success" role="alert">
        Meal sent to these customers  </div>
    <div align="middle" class="alert alert-success" role="alert">
        <table class="table table-borderless">
            <thead>
            <tr>
                <th scope="col">Enrolled User</th>
                <th scope="col">Location</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Meals(Day/Night)</th>
                <th scope="col">Code</th>
                <th scope="col">Meal Status</th>
                <th scope="col">Received Confirmation</th>
            </tr>
            </thead>
            {%  for i in today_meal %}
                <tbody>
                <tr>
                    <td>{{ i.enrolment.user.name }}</td>
                    <td>{{ i.enrolment.user.location }}</td>
                    <td>{{ i.enrolment.user.address }}</td>
                    <td>{{ i.enrolment.user.phone }}</td>
                    <td>{{ i.enrolment.day_meal_count }} / {{ i.enrolment.night_meal_count }}</td>
                    <td>{{ i.code }} </td>
                    <td> Sent </td>
                    <td>{{ i.is_received }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>

    </div>
{% endblock %}