{% extends 'navbar.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'add_food.css' %}">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="active"> Delivery Profile Setup</h2>
            <form method="POST" >
                {% csrf_token %}
                Click OK to become a Delivery Fighter!
                <input class="btn btn-primary" type="submit" value="OK">
            </form>
        </div>
    </div>
{% endblock %}